body{
    height: 100%;
    width: 100%;
    background-color: rgb(46, 95, 99);
}
header{
    background-color: rgb(50, 50, 106);
    width: 100%;
    height: 100px;
    padding-top: 0%;
    margin-top:0px; 
    margin-right: 20px; 
}
header h1{
    font-family:inherit;
    font-size: 45px;
    color: white;
    text-align: left;
}
 #navegacion{
 display: flex; 
 background-color: rgb(32, 47, 56);
 justify-content: space-around; 
 align-self: center;
 height: 60px;
 width: 100%;
 margin-right: 20px;
}
 .item{
    width: 145px;
    height: 50px;
    margin-top: 5px;
    border: 1px solid black ;
    font-family: inherit;
    font-size: larger;
    text-align: center;
    color: antiquewhite;
    padding: 0%;
}

 #seccion{
    display: flex; 
    background-color: rgb(32, 47, 56);
    justify-content: space-around; 
    align-items: center;
    height: 900px;
    width: 100%;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 50pxpx;
}
.articulo{
    background-color: rgb(69, 61, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#seccion .articulo:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 850px;
}

#seccion .articulo:nth-child(2){
    width: 1250px;
    height: 850px;
}
#seccion .articulo:nth-child(3){
    width: 350px;
    height: 850px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cuadro{
    border: 1px solid black;
}

#formulario{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(56, 67, 94);
}

input {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-style: italic;
    background-color: rgb(188, 179, 179);
}
input:hover{
    color: rgb(65, 9, 114);
}

