body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(rgb(217, 25, 25), blue);
 
}
header{
    background-color: rgb(50, 50, 106);
    width: 100vw;
    height: 100px;
    padding-top: 0%;
    margin-top:0px; 
    margin-right: 20px; 
    
}
header h1{
    font-family:inherit;
    font-size: 45px;
    color: white;
    text-align: left;
}
 #navegacion{
 display: flex; 
 background-color: rgb(32, 47, 56);
 border-top: white;
 justify-content: space-around; 
 align-self: center;
 height: 60px;
 width: 100%;
 margin-right: 20px;
}
 .item{
    width: 185px;
    height: 50px;
    margin-top: 5px;
    border-left: 1px solid rgb(58, 82, 70) ;
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: antiquewhite;
    margin-left: 0%;
    padding-top: 5px;
    box-sizing: border-box;
}

 #seccion{
    display: flex; 
    background-image: url(lineas-de-colores_3840x2160_xtrafondos.com.jpg);
    justify-content: space-around; 
    align-items: center;
    height: 900px;
    width: 100%;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 50pxpx;
}
.articulo{
    background-image: linear-gradient(red, blue);
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#seccion .articulo:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 850px;
}

#seccion .articulo:nth-child(2){
    width: 1250px;
    height: 850px;
 
}
#seccion .articulo:nth-child(3){
    width: 350px;
    height: 850px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cuadro{
    border: 1px solid black;
}


#caja{
    display: grid;
    width: 70%;
    height: 200px;
    margin-top: 20px;
    margin-left: 300px;
    background-image: linear-gradient(45deg, red, rgb(58, 20, 115));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.foto{
    margin-top: 10px;
}
