body{
    height: 100%;
    width: 100%;
    background-color: rgb(67, 78, 79);
}
header{
    background-color: rgb(50, 50, 106);
    width: 100%;
    height: 100px;
    margin-top:0px;  
}
header h1{
    font-family:inherit;
    font-size: 45px;
    color: white;
    text-align: left;
}
 #navegacion{
 display: flex; 
 background-color: rgb(32, 47, 56);
 justify-content: space-around; 
 align-self: center;
 height: 60px;
 width: 100%;
}
 .item{
    width: 70px;
    height: 60px;
    font-family: inherit;
    font-size: larger;
}

 #seccion{
    display: flex; 
    background-color: rgb(32, 47, 56);
    justify-content: space-around; 
    align-items: center;
    height: 900px;
    width: 100%;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
.articulo{
    background-color: rgb(69, 61, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#seccion .articulo:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 850px;
}

#seccion .articulo:nth-child(2){
    width: 780px;
    height: 850px;
}
#seccion .articulo:nth-child(3){
    width: 350px;
    height: 850px;
}

#formulario{
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    background-color: darkgrey;
}

input {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-style: italic;
    background-color: rgb(109, 109, 109);
}
input:hover{
    color: white;
}

