body{
    margin: 0%;
    background-color: rgb(67, 78, 79);
}
header{
    background-color: rgb(50, 50, 106);
    width: 100%;
    height: 100px;
    margin-top:0px;  
}
header h1{
    font-family:inherit;
    font-size: 45px;
    color: white;
    text-align: left;
}
#navegacion{
 display: flex; 
 background-color: rgb(32, 47, 56);
 justify-content: space-between; 
 height: 60px;
 width: 100%;

}
 .item{
    width: 70px;
    height: 60px;
    background-color: aqua;
    text-align: center;
    font-family: inherit;
    font-size: larger;
}
#navegacion .item:nth-child(2n +1){
    background-color: darkblue;
    align-items:center;
}
.articulo{
    background-color: grey;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    border:3px solid rgb(51, 46, 46);
}
article h1{
 text-align: center;
 font-size: 35px;
 color: rgb(44, 64, 81);
}
.articulo a{
    text-align: left;
    color: black;
}
.articulo a:hover{
    color:blue
}
#formulario{
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    background-color: darkgrey;
}

input {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-style: italic;
    background-color: rgb(109, 109, 109);
}
input:hover{
    color: white;
}
img{
  border: 5px solid rgb(73, 73, 73);
}

