header{
    background-color: rgb(50, 50, 106);
    width: 100%;
    height: 100px;
    margin:0%;  
}
header h1{
    font-family:inherit;
    font-size: 45px;
    color: white;
    text-align: left;
}
#navegacion{
    border: 1px solid rgb(45, 45, 81);
    margin-right: 30px;
    background-color: rgba(102, 90, 154, 0.326);
}
#navegacion ul li:nth-child(1){
    color: red;
}
.articulo{
    background-color: grey;
    margin-left: 500px;
    margin-right: 500px;
}
article h1{
 text-align: center;
 font-size: 35px;
 color: rgb(44, 64, 81);
}
.articulo footer{
    text-align: left;
    color: black;
}
.articulo footer:active{
    color:blue
}
div{
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    background-color: darkgrey;
}

input {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-style: italic;
    background-color: rgb(109, 109, 109);
}
input:hover{
    color: white;
}
img{
  border: 5px solid rgb(73, 73, 73);
}

